@model IEnumerable<VentaAutos.Models.TVehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-lg-5 col-lg-offset-8">
        <input type="search" id="search" value="" class="form-control" placeholder="Búsqueda">
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tipo
                </th>
                <th>
                    Marca
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estilo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.CEstadoArticulo.Descripcion)*@
                    Estado
                </th>



                <th>
                    @Html.DisplayNameFor(model => model.CTransmision.Descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CTipoArticulo.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CMarcaVehiculo.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estilo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEstadoArticulo.Descripcion)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.CTransmision.Descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Placa }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Placa }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Placa }) |
                        @Html.ActionLink("Comprar", "Create", "Compras", new { placa = item.Placa }, new { placa = item.Placa })

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
    <script src="~/Scripts/table-search.js"></script>
}