@model VentaAutos.Models.TPagoFinanciamiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TPagoFinanciamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intereses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intereses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTipoPago.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTipoPago.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TFinanciamiento.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TFinanciamiento.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPagoFinan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
