@model IEnumerable<VentaAutos.Models.TPagoFinanciamiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intereses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTipoPago.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TFinanciamiento.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intereses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTipoPago.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TFinanciamiento.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPagoFinan }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPagoFinan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPagoFinan })
        </td>
    </tr>
}

</table>
