@model VentaAutos.Models.TFinanciamiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TFinanciamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Interes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPeriodoPago.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPeriodoPago.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVenta.IdVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVenta.IdVenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdFinanciamiento }) |
    @Html.ActionLink("Regresar", "Index")
</p>
