@model VentaAutos.Models.TCompra

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Create", "Compras", FormMethod.Post, new { @id = "frmCrearCompra", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TCompra</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdCliente, "IdCliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCliente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Placa, "Placa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Placa", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
            </div>
        </div>

  
        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control datepicker", @name = "fecha_Compra", @id = "fecha_Compra", placeholder = "Ingrese la fecha de compra" })
            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrapValidator.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/mask.js"></script>


    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yyyy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                defaultDate: new Date(),
                format: 'dd/mm/yyyy'
            });
            //$(".datepicker").on("change", function () {
            //    $(".datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
            //});
            
        });


    </script>


    @*<script>
            $(document).ready(function () {
                //$('#frmCrearCompra')
                //    .bootstrapValidator({
                //        feedbackIcons: {
                //            valid: 'glyphicon glyphicon-ok',
                //            invalid: 'glyphicon glyphicon-remove',
                //            validating: 'glyphicon glyphicon-refresh'
                //        },
                //        excluded: ':disabled',
                //        fields: {
                //            fecha_compra: {
                //                validators: {
                //                    notEmpty: {
                //                        message: '   Formato: DD/MM/YYYY'
                //                    },
                //                    date: {
                //                        format: 'DD/MM/YYYY',
                //                        message: '   Formato: DD/MM/YYYY'
                //                    }
                //                }
                //            },

                //        }
                //    });

                //$('#frmCrearCompra').data('bootstrapValidator').validate();

                $("#fecha_compra").datepicker();

                //$('#datepicker')
                //    .datepicker({
                //        format: 'dd/mm/yyyy'
                //    })
                //    .on('changeDate', function (e) {
                //        $('#frmCrearCompra').bootstrapValidator('revalidateField', 'fecha_compra');
                //        //validarFormulario();
                //    })
                //    .on("change", function (e) {
                //        $('#frmCrearCompra').bootstrapValidator('revalidateField', 'fecha_compra');
                //        //validarFormulario();
                //    });

                IdiomaCalendario();
                //validarFormulario();
            });


            function IdiomaCalendario() {

                $.fn.datepicker.dates['es'] = {
                    days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    daysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                    daysMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                    months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    today: "Hoy",
                    clear: "Limpiar",
                    format: "dd/mm/yyyy",
                    titleFormat: "MM yyyy",
                    weekStart: 0
                };
                $('#fecha_compra').datepicker({ language: 'es' });

            }


        </script>*@


}
