@model IEnumerable<VentaAutos.Models.TCompra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCliente.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TVehiculo.Estilo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCliente.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TVehiculo.Estilo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idCliente = item.IdCliente, placa = item.Placa }  ) |
            @Html.ActionLink("Details", "Details", new { idCliente = item.IdCliente, placa = item.Placa }) |
            @Html.ActionLink("Delete", "Delete", new { idCliente = item.IdCliente, placa = item.Placa })
        </td>
    </tr>
}

</table>
