@model IEnumerable<VentaAutos.Models.TTelefonoCliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { idCliente = ViewBag.IdClienteInt }) | 
    @Html.ActionLink("Regresar a Clientes", "Index", "Clientes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCliente.Identificacion)
        </th>
        <th>
            Cliente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCliente.Identificacion)
        </td>
        <td>
           @( String.Format("{0} {1}", item.TCliente.Nombre,item.TCliente.PrimerApellido) )
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTelefono }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdTelefono }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdTelefono })
        </td>
    </tr>
}

</table>
