@model IEnumerable<VentaAutos.Models.CTipoVenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTipoVenta }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdTipoVenta }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdTipoVenta })
        </td>
    </tr>
}

</table>
