@model VentaAutos.Models.TVenta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TVenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTipoVenta.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTipoVenta.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCliente.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCliente.Identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdVenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
