@model VentaAutos.Models.TVenta

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h5>Venta</h5>
    <hr />
    <dl class="dl-horizontal">

        
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @String.Format("{0:d}", Model.Fecha)
        </dd>

        <dt>
            Tipo Venta
        </dt>
        <dd>
            @if (Model.IdTipoVenta == 1)
            {<p>  Contado</p> }
            else
            {<p>  Financiado</p>}
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.Saldo)
        </dd>


        <dt>
            Plazo
        </dt>
        <dd>
            @if (Model.TFinanciamiento.Count > 0)
            {
                var plazo = Model.TFinanciamiento.First().Plazo.ToString() + " Meses";
                @(plazo)
                @*@Html.DisplayFor(modelItem => modelItem.TFinanciamiento.First().Plazo)*@
            }


        </dd>

        <dt>
            Interés
        </dt>
        <dd>
            @if (Model.TFinanciamiento.Count > 0)
            {
                var interes = Model.TFinanciamiento.First().Interes;
                @(interes)
            }
        </dd>







        

    </dl>

    <h5>Vehículo</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TVehiculo.Placa)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.TVehiculo.Placa)
        </dd>

        <dt>
            Marca
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.TVehiculo.CMarcaVehiculo.Descripcion)
        </dd>

        <dt>
            Modelo
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.TVehiculo.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVehiculo.Estilo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVehiculo.Estilo)
        </dd>
    </dl>

    <h5>Cliente</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Identificación
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.TCliente.Identificacion )  @Html.DisplayFor(modelItem => modelItem.TCliente.PrimerApellido)  @Html.DisplayFor(modelItem => modelItem.TCliente.SegundoApellido)
        </dd>
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.TCliente.Nombre)  @Html.DisplayFor(modelItem => modelItem.TCliente.PrimerApellido)  @Html.DisplayFor(modelItem => modelItem.TCliente.SegundoApellido)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdVenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
