@model IEnumerable<VentaAutos.Models.TVenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-lg-5 col-lg-offset-8">
        <input type="search" id="search" value="" class="form-control" placeholder="Búsqueda">
    </div>
</div>
<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTipoVenta.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TCliente.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TFinanciamiento.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVehiculo.Estilo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CTipoVenta.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TCliente.Identificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TFinanciamiento.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TVehiculo.Estilo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdVenta }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdVenta }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdVenta })
                </td>
            </tr>
        }

    </table>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
        <script src="~/Scripts/table-search.js"></script>
    }
