@model VentaAutos.Models.TFinanciamiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TFinanciamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Interes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazo)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPeriodoPago.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPeriodoPago.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFinanciamiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
